@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(71 85 105);
}

.grid-motif {
  background:
    linear-gradient(to right, #cfcfcf 1px, transparent 1px),
    linear-gradient(to top, #cfcfcf 1px, transparent 1px);
  background-size: 10% 30%;
}

@media (max-width: 768px) {
  .grid-motif {
    background-size: 20% 30%;
  }
}